$yellow : #FFE600;
$blue: #2962FF;

$dark: #212121;
$light: #E7E7E7;

$primary-dark: #051340;
$primary-light: #FAFAFC;

$highlight-primary: #2CA1B2;
$highlight-primary-light: #B1E3EE;
$highlight-primary-very-light: #E0F0F3;
$highlight-secondary: #0E5D82;
$prodtext: #151515;
$service-section: #EFEFEF;
$footer-bg: #EFEFEF;
$footer-upper: #1E1E1E;
$review-card: #3D7AD6;
$overlay: rgba(64, 156, 155, 0.30);
$dark-green: #007451;
$pink: #DF3A85;
$light-grey: #EBEBEB;
$light-green: #33BBBA;
$highlightlight-grey: #B4B4B4;
$light-black: rgba(21, 21, 21, 0.50);
$pure-white: #fff;
$fade-white: #EEF8EC;
$light-green-little: #409C9B;
$category-black: rgba(0, 0, 0, 0.60);